{
  "env": { "browser": true, "es6": true, "node": true },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "import", "sort-destructure-keys"],
  "parserOptions": { "ecmaVersion": 2020, "sourceType": "module", "ecmaFeatures": { "jsx": true } },
  "settings": {
    "react": { "version": "detect" },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "prefer-template": "error",
    "object-shorthand": "error",
    "react/prop-types": "off",
    "sort-imports": ["error", { "ignoreCase": true, "ignoreDeclarationSort": true }],
    "import/order": [
      "error",
      {
        "groups": [["builtin"], ["external"], ["parent"], ["sibling", "index"]],
        "newlines-between": "always"
      }
    ],
    "no-extra-semi": "off",
    "sort-destructure-keys/sort-destructure-keys": 2
  }
}
